* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: linen;
}

header {
    background-color: darkslategray;
    color: white;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.login-buttons {
    position: absolute;
    top: 5px;
    right: 20px;
}

.login-buttons button {
    padding: 6px 12px;
    background-color: linen;
    color: darkslategray;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.login-buttons button:hover {
    background-color: mediumseagreen;
}

nav {
    width: 100%;
    background: darkslategray;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    width: 100%;
}

.menu a {
    flex: 1;
}

.menu button {
    width: 100%;
    padding: 15px;
    background: darkslategray;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-right: 2px solid linen;
}

.menu button:hover {
    background: mediumseagreen;
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.filters {
    width: 250px;
    padding: 20px;
    background-color: white;
    color: black;
    outline: 2px solid darkslategray;
    margin-right: 20px;
    border-radius: 5px;
}

.filters h2 {
    margin-bottom: 15px;
    text-align: center;
}

.filters label {
    margin-bottom: 2px;
    display: block;
    font-weight: bold;
}

.filters select,
.filters input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid lightgray;
}

.search-and-results {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    outline: 2px solid darkslategray;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 5px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.search select,
.search input {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.search button {
    padding: 8px 16px;
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.search button:hover {
    background-color: mediumseagreen;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.book {
    background-color: white;
    border: 1px solid lightgray;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.book img {
    max-width: 100%;
    height: auto;
}

.book p {
    margin-top: 10px;
    font-size: 14px;
}

.book button {
    padding: 10px 15px;
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.book button:hover {
    background-color: mediumseagreen;
}

.book-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.book-buttons button {
    padding: 8px 12px;
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.book-buttons button:hover {
    background-color: mediumseagreen;
}

footer {
    background-color: darkslategray;
    color: white;
    padding: 12px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


/* strona index2.html */

.book-form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    outline: 2px solid darkslategray;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    margin: 0 auto;
}

.book-form h2 {
    text-align: center;
    margin-bottom: 15px;
}

.book-form label {
    font-weight: bold;
}

.book-form input,
.book-form select,
.book-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
.book-form button {
    padding: 10px;
    background-color: seagreen;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.book-form button:hover {
    background-color: mediumseagreen;
}